<div class="container" role="main" id="content">
    <div class="row">
        <div class="jumbotron">
            <div class="jumbotron__content jumbotron__content--centered jumbotron__content--aligncenter">
                <div class="jumbotron__heading jumbotron__heading--centered">
                    <p class="jumbotron__subheader">Serverfout</p>
                    <h1 class="jumbotron__header ">Er is iets mis gegaan</h1>
                </div>
            </div>
            <div>
                <p class="jumbotron__intro">
                    {{message}}
                </p>
            </div>
        </div>
    </div>
</div>
