<div class="container" role="main" id="content">
    <div class="row">
        <div class="jumbotron">
            <div class="jumbotron__content jumbotron__content--centered jumbotron__content--aligncenter">
                <div class="jumbotron__heading jumbotron__heading--centered">
                    <p class="jumbotron__subheader">404 Page not found</p>
                </div>
                <a id="123" class="button button--primary" href="/home" role="button">Home</a>
            </div>
        </div>
    </div>
</div>

