.list {
  white-space: nowrap;
  li:not(:last-child) {
    margin-bottom: 0.5em;
  }

  label {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.selectAll{
  li:not(:first-child){
    margin-left: 30px;
  }
}