HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.jar
mvnw/
!**/src/main/**
!**/src/test/**
*.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

