<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %5p | %logger{40} - %msg%n</pattern> -->
            <pattern>%d{ISO8601} | %-5.5p %-40.40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- General / default log levels -->
    <logger name="nl.overheid.koop" level="${LOG_LEVEL_KOOP:-INFO}" />
    <!-- <logger name="org.springframework.web" level="TRACE" /> -->

    <springProfile name="dev">
        <logger name="nl.overheid.koop" level="TRACE" />
    </springProfile>

    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="STDOUT_JSON" />
        </root>
    </springProfile>

</configuration>
